<form action="" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add task" [(ngModel)]="text">
    </div>
    <div class="form-control">
        <label for="day">Date & Time</label>
        <input type="date" name="date" id="date" placeholder="Add date & time" [(ngModel)]="date">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>